/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Mar 2021, 13:10:21
    Author     : Admin
*/

body {
  background-color: wheat;
}

h1 {
  color: lightgray;
  font-size: 21px;
}
p {
  color: darkturquoise;
  font-size: 17px;
}
li {
    
    
    color: lightcoral;
    font-size: 17px;
}
th {
    color: lightsalmon;
    
    
    
     font: caption;
    font-size: 15px;
}


td {
    color: lightcoral;
    
    font: caption;
    font-size: 20px;
     
}
a {
    color: red;
    
    font-size: 69px;
}